# Import Libraries

In [1]:
#import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

## Load files

In [2]:
# Read files  
Pretest_df = pd.read_excel("Raw_data/1718 PretestLexile_Final.xlsx")
Interim_df= pd.read_excel("Raw_data/1718 InterimLexile_Final.xlsx")

# Data Exploration

In [3]:
# Check the column's name  for Pretest
Pretest_df.columns

Index(['adminyear', 'administrationtype', 'schoolshort', 'studentid',
       'gradelevelduringadminyear', 'ell', 'lunch_recode', 'sped_recode',
       'ethnicity_recode', 'score', 'lexilelevel'],
      dtype='object')

In [4]:
# Check the column's name for Interim
Interim_df.columns

Index(['adminyear', 'administrationtype', 'schoolshort', 'studentid',
       'gradelevelduringadminyear', 'ell', 'lunch_recode', 'sped_recode',
       'ethnicity_recode', 'score', 'lexilelevel'],
      dtype='object')

In [5]:
# Check the pretest shape 
Pretest_df.shape

(12626, 11)

In [6]:
# Check the Interim shape 
Interim_df.shape

(12508, 11)

## Check number of student id's records

In [7]:
# check the number of student id's for the Pretest
count_pretest = Pretest_df['studentid'].nunique()
count_pretest

12626

In [8]:
# check the number of student id's for the Interim
count_interim = Interim_df['studentid'].nunique()
count_interim

12508

## Get the Difference between the the PreTest and Interim

In [9]:
#Number of Students that take exam on Pretest but didn't take Interim
Num_Student_Only_Pretest_Takers = count_pretest - count_interim
Num_Student_Only_Pretest_Takers

118

## Check if there are Null Values and how to treat if there are any?

In [10]:
# Checking missing values for pretest 
# Only 1 has mising value
Pretest_df.isnull().sum()

adminyear                    0
administrationtype           0
schoolshort                  0
studentid                    0
gradelevelduringadminyear    0
ell                          1
lunch_recode                 0
sped_recode                  0
ethnicity_recode             0
score                        0
lexilelevel                  0
dtype: int64

In [11]:
# Checking missing values for Interim 
#No missing Value
Interim_df.isnull().sum()

adminyear                    0
administrationtype           0
schoolshort                  0
studentid                    0
gradelevelduringadminyear    0
ell                          0
lunch_recode                 0
sped_recode                  0
ethnicity_recode             0
score                        0
lexilelevel                  0
dtype: int64

In [12]:
#Check which which row has the missing column value 
Pretest_df[Pretest_df['ell'].isnull()]

,adminyear,administrationtype,schoolshort,studentid,gradelevelduringadminyear,ell,lunch_recode,sped_recode,ethnicity_recode,score,lexilelevel
9973,1718,Pretest,HUNTER,785185,6,NaN,Free/Reduced,Non-Special Education,Hispanic or Latino,530,below_gl_4_6_yrs

In [13]:
#Using  Student ID#785185 from the Pretest data, search to find graduate level from the second dataframe -
#From Interim Table
Interim_df[Interim_df['studentid'] == 785185]

,adminyear,administrationtype,schoolshort,studentid,gradelevelduringadminyear,ell,lunch_recode,sped_recode,ethnicity_recode,score,lexilelevel
5668,1718,Interim,HUNTER,785185,6,IFEP,Free/Reduced,Non-Special Education,Hispanic or Latino,545,below_gl_4_6_yrs

In [14]:
#Use the Interim value for ELL and replace the mssing value on PreTest
Pretest_df['ell'] = Pretest_df['ell'].fillna('IFEP')
Pretest_df.isnull().sum()

adminyear                    0
administrationtype           0
schoolshort                  0
studentid                    0
gradelevelduringadminyear    0
ell                          0
lunch_recode                 0
sped_recode                  0
ethnicity_recode             0
score                        0
lexilelevel                  0
dtype: int64

## Get the number of students that  Only took PreTest or Only Interim test.

### Pre-Test Takers Only and have not taken Interim

In [15]:
#Students with IDs' are not in the interim but are in pretest
df_ID_pretest = Interim_df[~Interim_df['studentid'].isin(Pretest_df['studentid'])]
df_ID_pretest['studentid'].count()

130

### Interim Takers Only and have not taken PreTest

In [16]:
#Students with IDs' are not in the pretest but are in interim
df_ID_Interim = Pretest_df[~Pretest_df['studentid'].isin(Interim_df['studentid'])]
df_ID_Interim['studentid'].count()

248

## Merge the Two Dataframe

In [17]:
#Merge PreTest DataFrame and Interim Dataframe
#Merge using StudentID
#Using Full-outer Joint
merge_df =pd.merge(Pretest_df, Interim_df,how='outer', on='studentid')

In [18]:
#Inspect the newly created dataframe
merge_df[:5]

,adminyear_x,administrationtype_x,schoolshort_x,studentid,gradelevelduringadminyear_x,ell_x,lunch_recode_x,sped_recode_x,ethnicity_recode_x,score_x,...,adminyear_y,administrationtype_y,schoolshort_y,gradelevelduringadminyear_y,ell_y,lunch_recode_y,sped_recode_y,ethnicity_recode_y,score_y,lexilelevel_y
0,1718.0,Pretest,BLOOMFIELD,455857,12.0,EL,Free/Reduced,Special Education,Hispanic or Latino,385.0,...,1718.0,Interim,BLOOMFIELD,12.0,EL,Free/Reduced,Special Education,Hispanic or Latino,450.0,between_6_yrs_fr
1,1718.0,Pretest,BLOOMFIELD,455869,12.0,IFEP,Free/Reduced,Special Education,Hispanic or Latino,975.0,...,1718.0,Interim,BLOOMFIELD,12.0,IFEP,Free/Reduced,Special Education,Hispanic or Latino,955.0,below_gl_4_6_yrs
2,1718.0,Pretest,BLOOMFIELD,455893,12.0,RFEP,Free/Reduced,Non-Special Education,Hispanic or Latino,1205.0,...,1718.0,Interim,BLOOMFIELD,12.0,RFEP,Free/Reduced,Non-Special Education,Hispanic or Latino,1225.0,grade_level
3,1718.0,Pretest,BLOOMFIELD,455917,12.0,RFEP,Free/Reduced,Non-Special Education,Hispanic or Latino,915.0,...,1718.0,Interim,BLOOMFIELD,12.0,RFEP,Free/Reduced,Non-Special Education,Hispanic or Latino,1005.0,below_gl_4_6_yrs
4,1718.0,Pretest,COLLINS,455929,12.0,EO,Free/Reduced,Non-Special Education,Hispanic or Latino,650.0,...,1718.0,Interim,COLLINS,12.0,EO,Free/Reduced,Non-Special Education,Hispanic or Latino,690.0,between_6_yrs_fr

## Check duplicates

In [19]:
#Since now, we have merge the two DF, we have to check if there are duplicated record
duplicate = merge_df[merge_df.duplicated(['studentid'], keep=False)]

In [20]:
#No duplciated record
duplicate.count()

adminyear_x                    0
administrationtype_x           0
schoolshort_x                  0
studentid                      0
gradelevelduringadminyear_x    0
ell_x                          0
lunch_recode_x                 0
sped_recode_x                  0
ethnicity_recode_x             0
score_x                        0
lexilelevel_x                  0
adminyear_y                    0
administrationtype_y           0
schoolshort_y                  0
gradelevelduringadminyear_y    0
ell_y                          0
lunch_recode_y                 0
sped_recode_y                  0
ethnicity_recode_y             0
score_y                        0
lexilelevel_y                  0
dtype: int64

## Check for Null Values

In [21]:
#Check if there are null values
#Since we used full-outer joint, the null values validate our previous number of Students that have not completed
#both PreTest and Interim
# 130 Students - have taken Pretest but didn't take Interim
# 248 Students - have taken Interim but didn't take PreTest
merge_df.isnull().sum()

adminyear_x                    130
administrationtype_x           130
schoolshort_x                  130
studentid                        0
gradelevelduringadminyear_x    130
ell_x                          130
lunch_recode_x                 130
sped_recode_x                  130
ethnicity_recode_x             130
score_x                        130
lexilelevel_x                  130
adminyear_y                    248
administrationtype_y           248
schoolshort_y                  248
gradelevelduringadminyear_y    248
ell_y                          248
lunch_recode_y                 248
sped_recode_y                  248
ethnicity_recode_y             248
score_y                        248
lexilelevel_y                  248
dtype: int64

## Drop Datapoints on Records where PreTest Score and Interim is not complete

In [22]:
#Decided to drop data with
#Another option is to use Mean values and we can check if there is a significant difference
m = merge_df.dropna()
m.count()

adminyear_x                    12378
administrationtype_x           12378
schoolshort_x                  12378
studentid                      12378
gradelevelduringadminyear_x    12378
ell_x                          12378
lunch_recode_x                 12378
sped_recode_x                  12378
ethnicity_recode_x             12378
score_x                        12378
lexilelevel_x                  12378
adminyear_y                    12378
administrationtype_y           12378
schoolshort_y                  12378
gradelevelduringadminyear_y    12378
ell_y                          12378
lunch_recode_y                 12378
sped_recode_y                  12378
ethnicity_recode_y             12378
score_y                        12378
lexilelevel_y                  12378
dtype: int64

In [23]:
# Get quick count of rows in a DataFrame
Tcount = len(m.index)
Tcount

12378

## Before we proceed with the Proper Data Analyis

*  We need to Check for Cross-Enrollee during the school term

In [24]:
#Check if the there are Students who Cross-Enrolled to Different School during the term
#Results indicated that it was only the School Name informartion was misencoded (Additional Space/Information) but no cross enrollee.
m_school= m[~m['schoolshort_x'].isin(m['schoolshort_y'])]

In [25]:
# 'ALMA' is used on PreTest
# 'CRMA 4'
m_school['schoolshort_x'].unique()

array(['ALMA', 'CRMA4'], dtype=object)

In [26]:
# 'ALMA (Roberts) is used on Interim
# 'CRMA 4'
m_school['schoolshort_y'].unique()

array(['ALMA (Roberts)', 'CRMA 4'], dtype=object)

## Change the Values on the Merge Dataset

In [27]:
#We need to Replace the PreTest School to be in-sync with the Interim Schools
testDF = m.replace(['ALMA', 'CRMA4'],['ALMA (Roberts)','CRMA 4'])

In [28]:
testDF.columns

Index(['adminyear_x', 'administrationtype_x', 'schoolshort_x', 'studentid',
       'gradelevelduringadminyear_x', 'ell_x', 'lunch_recode_x',
       'sped_recode_x', 'ethnicity_recode_x', 'score_x', 'lexilelevel_x',
       'adminyear_y', 'administrationtype_y', 'schoolshort_y',
       'gradelevelduringadminyear_y', 'ell_y', 'lunch_recode_y',
       'sped_recode_y', 'ethnicity_recode_y', 'score_y', 'lexilelevel_y'],
      dtype='object')

In [29]:
testDF = pd.DataFrame({'Year':testDF.adminyear_y,
                   'School':testDF.schoolshort_y,
                   'Student ID':testDF.studentid,
                   'Grade Level':testDF.gradelevelduringadminyear_y,
                   'ELL':testDF.ell_y,
                   'Lunch Recode':testDF.lunch_recode_y,
                   'Sped Recode':testDF.sped_recode_y,
                   'Ethnicity':testDF.ethnicity_recode_y,
                   'Pretest Score':testDF.score_x,
                   'Interim Score':testDF.score_y,
                   'Lexile Score':testDF.lexilelevel_y
                         })

In [30]:
testDF[:5]

,ELL,Ethnicity,Grade Level,Interim Score,Lexile Score,Lunch Recode,Pretest Score,School,Sped Recode,Student ID,Year
0,EL,Hispanic or Latino,12.0,450.0,between_6_yrs_fr,Free/Reduced,385.0,BLOOMFIELD,Special Education,455857,1718.0
1,IFEP,Hispanic or Latino,12.0,955.0,below_gl_4_6_yrs,Free/Reduced,975.0,BLOOMFIELD,Special Education,455869,1718.0
2,RFEP,Hispanic or Latino,12.0,1225.0,grade_level,Free/Reduced,1205.0,BLOOMFIELD,Non-Special Education,455893,1718.0
3,RFEP,Hispanic or Latino,12.0,1005.0,below_gl_4_6_yrs,Free/Reduced,915.0,BLOOMFIELD,Non-Special Education,455917,1718.0
4,EO,Hispanic or Latino,12.0,690.0,between_6_yrs_fr,Free/Reduced,650.0,COLLINS,Non-Special Education,455929,1718.0

In [31]:
testDF = testDF[['Year','Student ID','ELL', 'Ethnicity', 'Grade Level', 
                 'Sped Recode','Lexile Score', 'Lunch Recode', 
                 'School','Pretest Score','Interim Score']]

#Reset the Index
testDF = testDF.reset_index(drop=True)

In [32]:
testDF[:5]

,Year,Student ID,ELL,Ethnicity,Grade Level,Sped Recode,Lexile Score,Lunch Recode,School,Pretest Score,Interim Score
0,1718.0,455857,EL,Hispanic or Latino,12.0,Special Education,between_6_yrs_fr,Free/Reduced,BLOOMFIELD,385.0,450.0
1,1718.0,455869,IFEP,Hispanic or Latino,12.0,Special Education,below_gl_4_6_yrs,Free/Reduced,BLOOMFIELD,975.0,955.0
2,1718.0,455893,RFEP,Hispanic or Latino,12.0,Non-Special Education,grade_level,Free/Reduced,BLOOMFIELD,1205.0,1225.0
3,1718.0,455917,RFEP,Hispanic or Latino,12.0,Non-Special Education,below_gl_4_6_yrs,Free/Reduced,BLOOMFIELD,915.0,1005.0
4,1718.0,455929,EO,Hispanic or Latino,12.0,Non-Special Education,between_6_yrs_fr,Free/Reduced,COLLINS,650.0,690.0

# Data Analysis

## Task1:
*  i. By how many points did the Alliance wide average Lexile score grow from Pretest to Interim test?
*  ii. By how many points did each school’s average Lexile score grow from Pretest to Interim test in each grade and school wide (all grades)?
*  iii. For how many students (alliance wide) did we have the Pretest score but not the Interim test score? How did you treat these students in your analysis?

In [33]:
testDF.describe()

          Year     Student ID   Grade Level  Pretest Score  Interim Score
count  12378.0   12378.000000  12378.000000   12378.000000   12378.000000
mean    1718.0  616942.309743      9.244951     845.399499     878.620536
std        0.0  157259.146969      1.927240     265.038958     252.509698
min     1718.0  193405.000000      6.000000    -305.000000    -220.000000
25%     1718.0  491812.000000      8.000000     690.000000     725.000000
50%     1718.0  665893.000000      9.000000     860.000000     890.000000
75%     1718.0  750298.000000     11.000000    1030.000000    1055.000000
max     1718.0  800293.000000     12.000000    1600.000000    1600.000000

In [34]:
#i. By how many points did the Alliance wide average Lexile score grow from Pretest to Interim test?
Pretest = testDF['Pretest Score'].mean()
Interim = testDF['Interim Score'].mean()
Pretest, Interim

(845.3994991113266, 878.6205364356116)

In [35]:
Points = (Interim  - Pretest)
Points

33.22103732428502

In [36]:
print("İ) Alliance wide average Lexile score grow from  ",round(Pretest,2),"to",round(Interim,2),"which is exacly",round(Points,2),"points.")

İ) Alliance wide average Lexile score grow from   845.4 to 878.62 which is exacly 33.22 points.

In [37]:
#ii.By how many points did each school’s average Lexile score grow from Pretest to Interim test in each grade and school wide (all grades)?
PercentGrowth = ((Interim - Pretest)/Pretest) *100
PercentGrowth

3.929625858449947

In [38]:
print("İİ) School’s average Lexile score grow ",round(PercentGrowth,3),"percent from Pretest to Interim test in each grade and school wide.")

İİ) School’s average Lexile score grow  3.93 percent from Pretest to Interim test in each grade and school wide.

In [39]:
#iii
#For how many students (alliance wide) did we have the Pretest score but not the Interim test score? 
#How did you treat these students in your analysis?

# For Students that didn't have Interim score, we decided to drop them so that our data will not be skewed. but we have the option
# of replacing its Interim Score from NULL to the Interim MEAN Values or Min or Max values.
#It will be interesting to check if there is a significant difference.
have_Pretest_score = df_ID_pretest['studentid'].count()
have_Pretest_score

130

In [40]:
print("İİİ)",have_Pretest_score,"students have got their pretest score  but not interim score. For Students that didn't have Interim score, we can either drop them so that our data will not be skewed or we can replace them its Interim Score from NULL to the Interim MEAN Values or Min or Max values.")

İİİ) 130 students have got their pretest score  but not interim score. For Students that didn't have Interim score, we can either drop them so that our data will not be skewed or we can replace them its Interim Score from NULL to the Interim MEAN Values or Min or Max values.

## Task 2
*  What percentage of English Learners at each school grew at least one Lexile level from the Pretest to the Interim Test? 
*  English Learners are identified as having “EL” in the “ELL” column. You do not need to breakdown the percentages by grade level.

In [41]:
learners = testDF.groupby('ELL').count()
learners

,Year,Student ID,Ethnicity,Grade Level,Sped Recode,Lexile Score,Lunch Recode,School,Pretest Score,Interim Score
ELL,,,,,,,,,,
EL,1981,1981,1981,1981,1981,1981,1981,1981,1981,1981
EO,2339,2339,2339,2339,2339,2339,2339,2339,2339,2339
IFEP,1239,1239,1239,1239,1239,1239,1239,1239,1239,1239
RFEP,6765,6765,6765,6765,6765,6765,6765,6765,6765,6765
TBD,54,54,54,54,54,54,54,54,54,54

In [42]:
# Get quick count of rows in a DataFrame
english_df = testDF.loc[testDF.ELL == 'EL']
eng_count = len(english_df.index)
eng_count

1981

In [43]:
percent_english = (eng_count/Tcount)*100
percent_english

16.004201001777346

In [44]:
print("English Learners at each school",round(percent_english,2),"percent grew at least one Lexile level from the Pretest to the Interim Test.")

English Learners at each school 16.0 percent grew at least one Lexile level from the Pretest to the Interim Test.

## Task3:
*  What percentages of students receiving special education services at each school achieved either Grade-Level or College-Ready Lexile Levels on the Interim test?
*  You do not need to breakdown the percentages by grade level.

In [45]:
education = testDF.groupby('Sped Recode').count()
education

,Year,Student ID,ELL,Ethnicity,Grade Level,Lexile Score,Lunch Recode,School,Pretest Score,Interim Score
Sped Recode,,,,,,,,,,
Non-Special Education,11060,11060,11060,11060,11060,11060,11060,11060,11060,11060
Special Education,1318,1318,1318,1318,1318,1318,1318,1318,1318,1318

In [46]:
# Get quick count of rows in a DataFrame
sp_education = testDF.loc[testDF['Sped Recode'] == 'Special Education']
sp_count = len(sp_education.index)
sp_count

1318

In [47]:
percent_sp = (sp_count / Tcount) *100
percent_sp

10.647923735660042

In [48]:
print(round(percent_sp,2),"percentages of students receiving special education services at each school achieved either Grade-Level or College-Ready Lexile Levels on the Interim test.")

10.65 percentages of students receiving special education services at each school achieved either Grade-Level or College-Ready Lexile Levels on the Interim test.

## Task4:
*  i. Step wise detail of your approach in answering the above questions and any assumptions you made in cleaning/analyzing the data. Please provide this task wise for each task stated above (Task 1-3). You should provide clearly annotated code (optional: you can also provide your log file as additionally).


*  ii. Your key takeaways from the data (assume the audience for this portion is our Board of Directors) and evidence/charts to support your conclusions. Assume that your audience is keen on understanding overall trends and not diving deep into any statistical terms.


*  iii. The additional analysis you would like to do if you had an additional few days to work with the data and why the additional analysis would be important.


*  iv. If applicable, any additional data you would like to have which would allow you to explore additional implications of the data.